h1{
	color: rebeccapurple;

	/*border-color: purple;
	border-width: 2px;
	border-style: solid;*/

	border:2px solid purple;
}

li{
	color: green;
}

h4{
	background: maroon;
	color:white;
}

body{
	background: pink;
}