h1 {
	text-align: center;
}

td {
	width: 100px;
	height: 100px;
}

table td:nth-of-type(2){
	border-right: 3px solid black;
	border-left: 3px solid black;
}

table tr:nth-of-type(2) td:nth-of-type(2) {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

table tr:nth-of-type(2) td {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}


